%table
  - @locations.each do |loc|
    %tr
      %td= l loc.recorded_time.in_time_zone("Eastern Time (US & Canada)"), format: '%m/%d/%y %I:%M:%S %p'
      %td= loc.latitude.to_s
      %td= loc.longitude.to_s
      %td= loc.prev_distance
      %td= loc.prev_elapsed
      %td= loc.calced_speed.round(1) if loc.calced_speed

%h3 Unlabeled Trips
%form.form-inline{class: 'trip-form'}   
  .form-group
    %a 5/17
  .form-group
    %label.sr-only{for: 'method'} Method
    %select.form-control{id: 'method'}
      %option{value: 'drive'} Drive
      %option{value: 'walk'} Walk
      %option{value: 'bike'} Bike
      %option{value: 'lift'} Lift
      %option{value: 'bus'} Bus
      %option{value: 'plane'} Plane
      %option{value: 'rental'} Rental
  .form-group
    %a
      %span.glyphicon.glyphicon-map-marker
    %label.sr-only{for: 'from'} From
    %input.form-control{id: 'from', type: 'text'}
  %span.glyphicon.glyphicon-arrow-right
  .form-group
    %a
      %span.glyphicon.glyphicon-map-marker
    %label.sr-only{for: 'to'} To
    %input.form-control{id: 'to', type: 'text'}
  %a
    %span.glyphicon.glyphicon-road    
  .form-group
    %label.sr-only{for: 'miles'} Method
    %label.sr-only{for: 'miles'} Miles
    %input.form-control{id: 'miles', type: 'text'}
    mi.      
  .form-group
    %label.sr-only{for: 'rate'} Rate
    %select.form-control{id: 'rate'}
      %option{value: 'personal'} Personal
      %option{value: 'ministry'} Ministry
      %option{value: 'medical'} Medical
  .form-group
    \:
    %label.sr-only{for: 'purpose'} Business Purpose
    %input.form-control{id: 'purpose', type: 'text'}
  %span.glyphicon.glyphicon-phone
  %span.glyphicon.glyphicon-calendar
  %button.btn.btn-default Ministry
  %button.btn.btn-default Medical
  %br
  %br
  %button.btn.btn-default Archive the rest  
%h3 Ministry Trips
New trip
%br
%br
%button.btn.btn-primary Reimburse