   

%h3 Unlabeled Trips
%form.form-inline{class: 'trip-form'}
  %table
    - @trips.each_with_index do |t, i|
      != trip_date_header t, @trips[i-1]              
      .form-group#trip-start-time
        = format_start_time t
      .form-group
        &nbsp;-
      .form-group#trip-end-time        
        = format_end_time t        
      -#.form-group
        -#%label.sr-only{for: 'method'} Method
        -#%select.form-control{id: 'method'}
        -#  %option{value: 'drive'} Drive
        -#  %option{value: 'walk'} Walk
        -#  %option{value: 'bike'} Bike
        -#  %option{value: 'lift'} Lift
        -#  %option{value: 'bus'} Bus
        -#  %option{value: 'plane'} Plane
        -#  %option{value: 'rental'} Rental
      .form-group
        %a
          %span.glyphicon.glyphicon-map-marker
        %label.sr-only{for: 'from'} From
        %input.form-control{id: 'from', type: 'text', 
          value: "#{t.start_place.summary}"}
      %span.glyphicon.glyphicon-arrow-right
      .form-group
        %a
          %span.glyphicon.glyphicon-map-marker
        %label.sr-only{for: 'to'} To
        %input.form-control{id: 'to', type: 'text',
          value: "#{t.end_place.summary}"}
      %a
        %span.glyphicon.glyphicon-road    
      .form-group
        %label.sr-only{for: 'miles'} Method
        %label.sr-only{for: 'miles'} Miles
        %input.form-control{id: 'miles', type: 'text', 
          value: (t.distance ? (t.distance / 1609.34).round(1) : "-")}
        mi      
      .form-group
        \:
        %label.sr-only{for: 'purpose'} Business Purpose
        %input.form-control{id: 'purpose', type: 'text',
          value: "#{default_trip_purpose(t)}"}
      .form-group
        %label.sr-only{for: 'rate'} Rate
        %select.form-control{id: 'rate'}
          %option{value: 'personal'} Personal
          %option{value: 'ministry'} Ministry
          %option{value: 'medical'} Medical      
      %br
  %br
  %button.btn.btn-default Archive the rest  
%h3 Ministry Trips
New trip
%br
%br
%button.btn.btn-primary Reimburse