%h3 Trip Log
%form.form-inline{class: 'trip-form', method: 'post'}
  %table
    - @trips.each_with_index do |t, i|
      != trip_date_header i, @trips              
      .form-group#trip-start-time
        = format_start_time t
      .form-group
        &nbsp;-
      .form-group#trip-end-time        
        = format_end_time t        
      -#.form-group
        -#%label.sr-only{for: 'method'} Method
        -#%select.form-control{id: 'method'}
        -#  %option{value: 'drive'} Drive
        -#  %option{value: 'walk'} Walk
        -#  %option{value: 'bike'} Bike
        -#  %option{value: 'lift'} Lift
        -#  %option{value: 'bus'} Bus
        -#  %option{value: 'plane'} Plane
        -#  %option{value: 'rental'} Rental
      .form-group#from
        -#%a
        -#  %span.glyphicon.glyphicon-map-marker
        %label.sr-only{for: 'from'} From
        %input.form-control{id: 'from', type: 'text', disabled: 'disabled', 
          value: "#{t.start_place.summary}"}      
      %span.glyphicon.glyphicon-arrow-right
      .form-group
        -#%a
        -#  %span.glyphicon.glyphicon-map-marker
        %label.sr-only{for: 'to'} To
        %input.form-control{id: 'to', type: 'text', disabled: 'disabled',
          value: "#{t.end_place.summary}"}
      %a
        %span.glyphicon.glyphicon-road    
      .form-group
        %label.sr-only{for: 'miles'} Method
        %label.sr-only{for: 'miles'} Miles
        %input.form-control{id: 'miles', type: 'text', disabled: 'disabled',
          value: format_miles(t.distance_in_miles)}
        mi
      .form-group
        \:
        %label.sr-only{for: 'purpose'} Business Purpose
        %input.form-control{id: 'purpose', type: 'text', disabled: 'disabled',
          value: "#{t.purpose}"}
      -#%label.sr-only{for: 'rate'} Rate
      .checkbox
        %label      
          %input{type: 'checkbox', name: "reimburse_#{t.id}"}
          Reimburse?           
      -#%select.form-control{id: 'rate'}
      -#  %option{value: 'personal'} Personal
      -#  %option{value: 'ministry'} Ministry
      -#  %option{value: 'medical'} Medical      
      %input{name:"authenticity_token",type:"hidden",value:"#{form_authenticity_token}"}    
      %br
  %br
  %br
  %input.btn.btn-primary{type: 'submit', value: 'Prepare Reimbursement'}