%table
  - @places.each do |p|
    %tr
      %td 
        = p.summary
      %td
        = p.description
      %td
        = p.street        
        %br
        = p.city
        = p.state
        = p.postal_code
      %td
        = link_to "Edit", edit_place_path(p)