!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Track Miles
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        %button.navbar-toggle{"data-target" => ".nav-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{:href => "#"} Track Miles        
        %ul.nav.navbar-nav
          %li.active
            %a{:href => "/"} Home
          %li
            %a{:href => "about"} About
          %li
            %a{:href => "apps"} Apps        
        .navbar-text.pull-right
          - if current_user
            #{current_user.email}              
            = link_to "Sign out", destroy_user_session_path 
          - else
            = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)
        / /.nav-collapse
    .container
      = render :partial => "shared/flash_messages", flash: flash 
      .body-content
        = yield
      %hr/        
      %footer
        %span &copy; Track Miles 2013
        %span.pull-right 
          %a{:href => "terms"} Terms of Service 
          |
          %a{:href => "privacy"} Privacy Policy
    / /container
    / %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    / <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>        